# this is only for the mysqld standalone daemon
[mysqld]

#
#    Description: Default collation used by the server. This is set to the default collation for a given character set automatically when character_set_server is changed, but it can also be set manually. Defaults may be different on some systems, see for example Differences in MariaDB in Debian.
#    Commandline: --collation-server=name
#    Scope: Global, Session
#    Dynamic: Yes
#    Data Type: string
#    Default Value: latin1_swedish_ci
#
collation_server=utf8mb4_general_ci

#
#    Description: Default character set used by the server. See character_set_database for character sets used by the default database. Defaults may be different on some systems, see for example Differences in MariaDB in Debian.
#    Commandline: --character-set-server
#    Scope: Global, Session
#    Dynamic: Yes
#    Data Type: string
#    Default Value: latin1
#
character_set_server=utf8mb4
