# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

#
#    Description: Whether binary logging is enabled or not. If the --log-bin option is used, log_bin will be set to ON, otherwise it will be OFF. If no name option is given for --log-bin, datadir/'log-basename'-bin or 'datadir'/mysql-bin will be used (the latter if --log-basename is not specified). We strongly recommend you use either --log-basename or specify a filename to ensure that replication doesn't stop if the real hostname of the computer changes. The name option can optionally include an absolute path. If no path is specified, the log will be written to the data directory. The name can optionally include the file extension; it will be stripped and only the file basename will be used.
#    Commandline: --log-bin[=name]
#    Scope: Global
#    Dynamic: No
#    Data Type: boolean
#
log-bin

#
#    Description: Used to identify master and slave servers in replication. The server_id must be unique for each server in the replicating group. If left at 0, the default until MariaDB 10.2.1, a slave will not connect to a master, and a master will refuse all slave connections.
#    Commandline: --server-id =#
#    Scope: Global, Session (>= MariaDB 10.0.2 only - see Global Transaction ID)
#    Dynamic: Yes
#    Data Type: numeric
#    Default Value: 1 (>= MariaDB 10.2.2), 0 (<= MariaDB 10.2.1)
#    Range: 1 to 4294967295 (>= MariaDB 10.2.2), 0 to 4294967295 (<= MariaDB 10.2.1)
#
server-id = 1

#
#    Description: By default, the MariaDB server listens for TCP/IP connections on a network socket bound to a single address, 0.0.0.0. You can specify an alternative when the server starts using this option; either a host name, an IPv4 or an IPv6 address. In Debian and Ubuntu, the default bind_address is 127.0.0.1, which binds the server to listen on localhost only. Has always been available as a mysqld option, from MariaDB 10.3.3 also available as a system variable.
#    Commandline: --bind-address=addr
#    Scope: Global
#    Dynamic: No
#    Data Type: string
#    Valid Values: Host name, IPv4, IPv6 (>= MariaDB 5.5)
#    Introduced: MariaDB 10.3.3 (as a system variable)
#
bind-address=0.0.0.0

#
#    Description: Slave threads will be restricted to replicating the specified databases, provided in comma-delimited format. Will not work with cross-database queries such as UPDATE some_db.some_table SET foo='bar' while having selected a different or no database. Use replicate_wild_do_table for this purpose. replicate-do-db is executed after the replicate-rewrite-db mysqld option. It also does not accept a comma-delimited list, and needs to be used multiple times to specify multiple databases (on both the commandline and in configuration files). See Dynamic replication variables for more information.
#    Commandline: --replicate-do-db=name
#    Scope: Global
#    Dynamic: Yes
#    Data Type: string
#    Default Value: '' (empty)
#    Introduced: MariaDB 5.5.22 (as a variable)
#
replicate_do_db = nextcloud
