[Unit]
Description=Camunda
After=network.target

[Service]
Type=forking

User=camunda
Group=camunda

Environment="JAVA_HOME=/usr/java/latest"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE=/opt/camunda/tomcat"
Environment="CATALINA_HOME=/opt/camunda/tomcat"
Environment="CATALINA_PID=/opt/camunda/tomcat/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/opt/camunda/tomcat/bin/startup.sh
ExecStop=/opt/camunda/tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
