<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
     <id>idega</id>
      <repositories>
        <!--repository>
          <id>idega1</id>
          <name>Idega Main Repository</name>
          <url>http://repository.idega.com/maven2</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <layout>default</layout>
        </repository-->
        <repository>
          <id>idega2</id>
          <name>Idega Backup Repository</name>
          <url>http://repository2.idega.com/maven2</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>idega</activeProfile>
  </activeProfiles>
</settings>